<div class="col-sm-12 col-md-2 p-2 card-image">
    <div class="alert" style="width: 90%; background: #4800ff;">
        <a href="@url">
            <img src="@Country.Image" alt="@Country.Name" class="country-image" />
            <p>@Country.Name</p>
        </a>
    </div>
</div>

@code {

    [Parameter] public Country Country { get; set; }

    string url = string.Empty;

    protected override void OnInitialized()
    {
        url = $"country/{Country.ID}/{Country.Name.Replace(" ", "-")}";
    }
}
