.team-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
}
.team-name a {
    color: white;
}

.hrfix {
    margin: 5px 0 !important;
    border: 0;
    height: 1px;
    background: #000;
}

.card-image {
    height: 140px;
    display: flex;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s;
}
.card-image:hover {
    opacity: 1;
}
.card-image p {
    margin-top: 4px;
    color: white;
    font-size: 22px;
    font-weight: 300;
}
.team-image {
    max-width: 120px;
    max-height: 130px;
}

.country-image {
    width: 100px;
    height: 60px;
}

.team-card-footer {
    border-radius: 0 0 5px 5px;
}

.form-markdown  textarea {
    width: 500px;
    height: 500px;
    margin-right: 15px;
}

.form-markdown .container-markdown {
    border: 1px dashed #000;
    background-color: white;
    width: 500px;
    height: 500px;
}

.selectable-list {
    padding: 20px;
    border: 1px groove #6c757d;
    border-radius: 3px;
    min-width: 150px;
}

.list-group-item:hover {
    cursor: pointer;
    border: 1px dashed #000;
}

.typeahead {
    position: relative;
    width: 100%;
    border: 1px groove #bfbfbf;
    border-radius: 5px;
}

.typeahead-controls {
    position: relative;
    cursor: text;
    display: flex;
}

.typeahead-input {
    flex: 1;
    max-width: 100%;
    border: none;
    padding: .5rem;
    border-radius: 5px;
}

.typeahead:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}

.typeahead-input:focus {
    outline: none;
}

.typeahead-all-results {
    position: absolute;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border: 1px groove #dbdbdb;
    border-radius: 0 0 5px 5px;
    min-height: 2rem;
    max-height: 30rem;
    overflow-y: auto;
    z-index: 10;
    width: 100%;
    background: #fff;
}

.typeahead-result {
    padding: .5rem;
    border-top: 1px groove #fff;
    border-bottom: 1px groove #fff;
}

    .typeahead-result:hover,
    .typeahead-result:focus {
        background-color: #17a2b8;
        border-top: 1px groove #000;
        border-bottom: 1px groove #000;
        color: #fff;
        cursor: pointer;
    }

.input::placeholder {
    color: #cbcbcb99;
    font-size: 1.2em;
    font-style: italic;
}

.back-image {
    height: 350px;
    position: relative;
    padding: 0;
    opacity: 0.9;
    cursor: pointer;
    transition: 0.3s;
    width: 99%;
}
.back-image:hover {  
     box-shadow: 0 5px 15px rgba(255,255,255,.4);
 }
.back-text {
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
}
.back-image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.back-block:hover .back-image::before {
    opacity: 1;
}
.back-image:hover .back-text {
    top: 55%;
    font-size: 44px;
    z-index: 2;
    transition: all 0.4s;
}

.spain-teams {
    background-image: url(../images/back2.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-row a {
    color: white;
    font-size: 21px;
    margin-right: 15px;
}

